html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  word-break: break-all;
  hyphens: auto;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.hex {
  background-color: #86defa;
}

.rgb {
  background-color: rgb(125, 125, 255);
}

.hsl {
  background-color: hsl(320, 88%, 45%);
}

.transparency {
  background-color: rgba(240, 120, 60, 0.2);
}
