html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  word-break: break-all;
  hyphens: auto;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: lightslategray;
}
